@import "tailwindcss";

:root {
  /* Responsive Spacing */
  --spacing-xs: clamp(2px, 0.2vw, 6px);
  --spacing-sm: clamp(5px, 0.5vw, 8px);
  --spacing-md: clamp(8px, 1.5vw, 16px);
  --spacing-lg: clamp(5px, 3.5vw, 48px);
  
  /* Responsive Font Sizes */
  --text-xs: clamp(11px, 1.4vw, 13px);
  --text-sm: clamp(12px, 1.4vw, 15px);
  --text-base: clamp(13px, 1.6vw, 15px);
  --text-lg: clamp(14px, 1.8vw, 18px);
  --text-xl: clamp(16px, 2.5vw, 28px);
  --text-subtitle: clamp(11px, 1.6vw, 14px);
  
  /* Responsive Logo Sizes */
  --logo-header-w: clamp(95px, 15vw, 170px);
  --logo-header-h: clamp(42px, 7vw, 75px);
  --logo-header-ml: clamp(2px, 0.2vw, 6px);
  --logo-footer-w: clamp(160px, 22vw, 240px);
  --logo-footer-h: clamp(80px, 12vw, 140px);
  
  /* Responsive Button Sizes */
  --btn-px: clamp(8px, 2vw, 16px);
  --btn-py: clamp(6px, 1.2vw, 8px);
  --btn-radius: clamp(4px, 0.5vw, 6px);
  
  /* Responsive Padding */
  --padding-footer: clamp(240px, 30vw, 340px);
}

body{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

.user-select-none {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
}

.user-drag-none {
    -webkit-user-drag: none; /* Safari and Chrome */
    user-drag: none;         /* Standard */
}


.header {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}


.faq-answer-collapse {
    
    height: 0;
    opacity: 0;
    margin-top: 0;
    padding-top: 0; 
    padding-bottom: 0; 
    
    transition: 
        height 0.7s cubic-bezier(0.4, 0, 0.2, 1), 
        opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1),
        margin-top 0.7s cubic-bezier(0.4, 0, 0.2, 1),
        padding-top 0.7s cubic-bezier(0.4, 0, 0.2, 1),
        padding-bottom 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    
    overflow: hidden;
}

.faq-answer-expanded {
   
    height: auto; 
    opacity: 1;
    
    
    margin-top: 1rem;     
    padding-top: 0; 
    padding-bottom: 0.25rem;
}


.faq-arrow {
    transition: transform 0.3s ease-in-out;
}

.faq-arrow-rotated {
    transform: rotate(180deg);
    color: #4f46e5;
}